<style media="screen">
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 800px) {
  .container{
    width: 100%;
  }

  .text-item{
    width: 100%;
  }
}
  @media screen and (min-width: 300px) {
    #about-image{width: 500px}
  }

</style>
<!-- the provide method gives the string "help" as a variable back to the application.html.erb file; there it is defined what to do with that id -->
<% provide(:title, "About Us") %>

<div class="text-item">
  <h1>About Us</h1>
</div>

<div class="text-item">
    <div class="list-item-top">
        <p style="text-align:justify">
          <br>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          <br>
        </p>
    </div>
</div>

<div class="about-text">
    <%=image_tag("CuTile_R1_v2_250X_01_edit.jpg", id:"about-image", class: "img-responsive center-block")%>
</div>

<div class="text-item">
    <div class="list-item-top">
        <p style="text-align:justify">
          <br>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          <br>
        </p>
    </div>
</div>
