<% provide(:title, "Contact") %>
<div style="height:2em"></div>
<div class="landing-text">
  <br>
  <br>
  <br>
  <div class="text-center">
    <h4> For questions, contact us at: <strong> info@hexagonalfab.co.uk </strong> </h4>
  </div>
  <br>
  <br>
  <br>
</div>
