<% provide(:title, "Home") %>
<!--  Top intro page -->
<div class="landing-top">
  <div class="va-container">
    <div class="va-middle text-center">
      	<div class="row">
      		<h1 style="color:white"><strong>HexagonFab</strong> Nanomaterials </h1>
      	</div>

        <div class="row">
  		    <h3 style="color:white"> Nanomaterials for Sensor Platforms</h3>
  		  </div>
	   </div>
	</div>
</div>

<!-- Spacer -->
<div style="height:1em"></div>

<!--  Middle Text Section -->
<div class="landing-text">
  <div class="text-justify">
    <br>
      <h3><small>
      Stone, bronze, steel and silicon age:
      the corner stone to advances in society were enabled by
      methods of material processing. Nanomaterials are the next big frontier.
      At HexagonFab, our mission is to bring two dimensional materials from laboratory to industry.<b> Details coming soon </b>
    </small></h3>
    <br>
  </div>
</div>

<!-- Spacer -->
<div style="height:1em"></div>

<!-- <div class="container">
    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-5">
      	<div class="panel panel-default preview">
      		<div class="panel-heading preview">
      			<%= link_to image_tag("CuTile_R1_v2_250X_01_edit.jpg", class: 'panel-heading preview'), product_path%>
      		</div>
          <div class="panel-body text-center">
            Get to know our product
      		</div>
      	</div>
      </div>

      <div class="col-md-5">
      	<div class="panel panel-default preview">
      		<div class="panel-heading preview">
      			<%= link_to image_tag("hBNPtFo_280917B_5.jpg", class: 'panel-heading preview'), product_path%>
      		</div>
      		<div class="panel-body text-center">
            Meet the team
      		</div>
      	</div>
      </div>
    </div>
</div> -->
