<!-- the provide method gives the string "help" as a variable back to the application.html.erb file; there it is defined what to do with that id -->
<% provide(:title, "The Team") %>

<h1><center>The Team</center></h1>
<div class="text-item">
  <div class="list-item">
    <%=image_tag("cabin_placeholder.jpg",size: "100x100")%>
    This is a place holder text
  </div>
  <div class="list-item">
    <%=image_tag("cabin_placeholder.jpg",size: "100x100")%>
    This is a place holder text
  </div>
</div>
