<% provide(:title, "Technology") %>
<h1><center>Technology</center></h1>
<div class="text-item">
  <div class="list-item">
    <%=image_tag("CuTile_R1_v2_250X_01_edit.jpg",size: "200x200")%>
    This is a place holder text
  </div>
</div>
