<!-- Unused at the moment - request mail sent out using MailForm Automatic Mail  -->
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style type="text/css">

    body {
      background-color: #f6f6f6;
      font-family: "Open Sans", Helvetica, Arial, sans-serif;
      font-size: 16px;
      margin: 0;
    }

    .container {
      width: 90%;
      margin-top: 3em;
      margin-left: 5%;
      margin-right: 5%;
    }

      .mail-header {
        height: 0.3em;
        width: 100%;
        background-color: #fe4446;
        text-align: center;
        line-height: 7em;
      }

      .mail-body {
        margin-top: 0;
        margin-left: 0;
        margin-right: -2em;
        padding-top: 3em;
        padding-left: 5%;
        padding-right: 5%;
        background-color: white;
        width: 90%;
        color: #5b5b5b;
        font-size: 1.1em;
        line-height: 1.2em;
      }

      .mail-header h1 {
        vertical-align: middle;
      }

      .mail-footer {
        font-size: 1em;
        text-align: center;
        color: #666666;
        width: 90%;
        margin-top: 0;
        margin-left: 0;
        margin-right: -2em;
        padding-top: 3em;
        padding-left: 5%;
        padding-right: 5%;
      }

      h1 {
        color: #f4f1d6;
        text-transform: uppercase;
      }

</style>
  </head>
  <body style="background-color: #f6f6f6;">
    <div class="container">
      <div class="mail-header"></div>
      <div class="mail-body">
        <h4>Request via contact-form on hexagonfab.com</h4>
        <p>Email from: <%= @contact.name %></p>
        <p>Email Address: <%=@contact.email%></p>

        <p>Message:
        <%= @contact.message %>
        </p>
        <br><br>
      </div>
      <div class="mail-footer">
      </div>

    </div>


  </body>
</html>
