<footer class="footer">
  <div class="container">
    <small>
      HexagonalFab.co.uk Beta 0.2
    </small>
    <!-- <nav>
      <ul>
        <li><%= link_to "Contact", contact_path %></li>
      </ul>
    </nav> -->
  </div>
</footer>
