<style media="screen">
  .confirmation-item{
      width: 60%;
      margin: auto;
      margin-top: 40px;
      margin-bottom: 40px;
      padding: 20px;
      font-size: 16px;
      color: #82888a;
      border: 1px solid #CCC;
      border-radius: 10px;
  }
</style>

<div class="container">
  <div class="text-item justify">
    <h3><p>Thank you for your message</p></h3>
  </div>

  <div class="confirmation-item justify">
    <h3><small><%=t('contact.contact-confirmation')%></small></h3>
    <br>
    <div class="center">
      <%= link_to t('root'), root_path, class: "btn btn-primary" %>
    </div>
  </div>

  <br>
  <br>
</div>
