// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
// The order of the class definition defines the base and the other class. For
// example .btn2.btn uses btn2 as the base class and takes all the non-available
// definitions from btn

body {
  padding-top: 0px;
}

.landing-top {
  background-image: image_url('CuTile_R1_v2_25kX_04_edit.jpg');
  background-position: top;
  width:100%;
  background-repeat: no-repeat;
  height: 40em;
}

.landing-text {
  border-top: 1px solid #eaeaea;
  width: 60%;
  margin: auto;
}

.about-text {
  width:70%;
  margin: auto;
}

.text-item {
  width: 70%;
  margin: auto;
  margin-bottom: 20px;
}

.text-justify {
  text-align: justify;
}

.center {
    text-align: center;
}

.container {
	width: 100%;
}

.va-container {
  display: table;
  width:100%;
  height:100%;
}

.va-middle {
  vertical-align: middle;
  display: table-cell;
  padding: 20px;
}

.va-middle-text {
  border-top: 1px solid #eaeaea;
  vertical-align: middle;
  display: table-cell;
  border-bottom: 1px solid #eaeaea;
}

.container-non-padding {
  background-color: white;
  padding-left: 0px;
  padding-right:0px;
}

.container-content {
  background-color: white;
  width: 80%;
  margin: auto;
}

.contact-form{
  width: 60%;
  margin: auto;
}

// ------------------------------------------------------------------------
// Navbar design

// .nav.navbar.navbar-inverse.navbar-fixed-top{
//   top: 100;
//   border-width: 0 0 0px;
//   margin: 0px;
//   padding-bottom: 0px;
// }
//
// .nav{
//   margin-bottom: 0;
// }

.navbar {
    margin-bottom: 0 !important;
}

.nav.navbar-nav.navbar-right li.navbar-btn a {
    padding: 5px;
   }

// ------------------------------------------------------------------------
// Footer
footer {
  padding-top: 0.5em;
  border-top: 1px solid #eaeaea;
  color: #777;
  padding-bottom: 0.5em;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  margin-top: 10px;
  float: left;
}
// ------------------------------------------------------------------------
// Card
.card-item {
  width: 100%;
  padding: 10px;
  margin: auto;
  font-size: 14px;
  color: #82888a;
  border: 1px solid #CCC;
  border-radius: 10px;
}

.card-table-cell {
  padding-top:1px;
  padding-bottom:1px;
}

.card-table-space {
  padding-top: 10px;
  padding-bottom: 10px;
}

.column {
    float: left;
    padding: 20px;
    /* margin: 10px; */
}

.left{
  width: 50%;
}

.right{
  width: 50%;
}

// ------------------------------------------------------------------------
// List
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.list-item {
  width: 100%;
  margin: auto;
  font-size: 14px;
  color: #82888a;
  border: 1px solid #CCC;
  border-radius: 10px;
}

.list-item-top {
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 10px 0;
  font-size: 14px;
  color: #82888a;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
}

// ------------------------------------------------------------------------
// Button
.btn-primary.btn {
  border: 1px solid black;
  border-radius: 10px;
  font-weight: bold;
  background-color: #788cb6;
  color: #fff;
  padding: 10px 25px 10px 25px;
}

.btn-primary.btn:hover, .btn-primary.btn:focus {
  border-color: black;
  background-color: lightblue;
  outline:none;
}

.btn-secondary.btn {
  border: 1px solid black;
  border-radius: 15px;
  font-weight: bold;
  background-color: #788cb6;
  color: #fff;
  padding: 5px 25px 5px 25px;
}

.btn-secondary.btn:hover, .btn-secondary.btn:focus {
  border-color: black;
  background-color: lightblue;
  outline:none;
}

.btn-default.btn {
  border: 1px solid black;
  border-radius: 10px;
  font-weight: bold;
  background-color: #788cb6;
  color: #fff;
  padding: 10px 25px 10px 25px;
}

.btn-language.btn{
  background-color: white;
  font-weight: bold;
  border: 2px solid black;
  border-right: 0px
}

.btn-language-toggle.btn{
  background-color: white;
  border: 2px solid black
}

.nav.navbar-nav.navbar-right li.navbar-btn a.navbar-default{
  color: black;
  background-color: white;
  border-radius: 3px;
  margin-left: 10px;
  margin-right: 10px;
}

.nav.navbar-nav.navbar-right li.navbar-btn a.navbar-default:hover {
  background-color: lightgrey;
  border-radius: 1px;
  margin-left: 10px;
  margin-right: 10px;
}

.nav.navbar-nav.navbar-right li.navbar-btn a.navbar-hidden{
  padding-left: 10px;
  padding-right: 10px;
  border-left: 0.5px solid lightgrey;
}

// ------------------------------------------------------------------------
// Table
table td {
  padding: 10px
}

.justify {
    text-align: justify;
}

// ------------------------------------------------------------------------
// Define width of the dropdown menu
.dropdown-menu.dropdown-menu-wide {
  min-width: 100%;
  text-align: center;
}

.panel-default .panel-heading {
  color: #565a5c;
  background-color: #edefed;
  font-size: 18px;
  font-weight: 400
}

.row-space-1 {
  margin-top: 6px;
  margin-bottom: 6px;
}

.row-space-2 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.row-space-3 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.description {
  color: #575757;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
}

.avatar-small {
	width: 28px;
}

.avatar-medium {
	width: 48px;
}

.avatar-large {
	width: 68px;
}

.avatar-full {
	width: 100%;
}


.form-group {
  margin-bottom: 25px;
}

.form-control {
  border-radius: 2px;
  height: 4rem;
  font-size: 16px;

}

.sidebar-list {
  padding-left: 0;
  list-style: none;
}

.sidebar-item {
  padding: 10px 0;
  font-size: 16px;
  color: #82888a;
  border-top: 1px solid #CCC;
}

.sidebar-link {
  color: #82888a;
  text-decoration: none;
}

.sidebar-link:hover, .sidebar-link:focus {
  color: #cacccd;
  text-decoration: none;
}

.active.sidebar-link {
  color: #565a5c;
  font-weight: bold;
  text-decoration: none;
}


label {
  color: #565a5c;
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 10px;
}

select {
  color: #565a5c;
  background-color: #fff;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 10px;
  appearance: none;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
}

.select:before {
  content: '\25bc';
  font-size: 1.2em;
  position: absolute;
  color: #82888A;
  top: 40px;
  right: 30px;
  transform: scale(0.84, 0.42);
}


input[type="checkbox"] {
  height: 1.25em;
  width: 1.25em;
  margin-bottom: -0.25em;
  margin-right: 5px;
  vertical-align: top;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  appearance: none;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
}

input[type="checkbox"]:checked:before {
  content: "\2713";
  position: absolute;
  font-size: 0.95em;
  text-align: center;
  width: 1.25em;
  color: #5f5aff;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.panel-default.preview {
  border-color: #eee !important;
  border-radius: 2px;
  border: 1px solid;
  // -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.25); // iOS <4.3 & Android <4.1
  // box-shadow: 0 1px 1px rgba(0,0,0,.25);

}

.preview a {
  text-decoration: none;
  color: #555;
}

.preview a:hover {
  text-decoration: none;
  color: #d9534f;
}

.panel-heading.preview {
  padding: 0;
  border-bottom:0px;

}

.panel-heading.preview img{
  width: 100%;
}

.amenities li {
  margin-bottom: 10px;
  list-style-type: none;
}

.text-line-through {
  text-decoration: line-through;
}

.reservation-table td {
  width: 100%;
  border: 1px solid #dce0e0;
  padding: 10px;
}

.img-responsive {
  width: 100%;
}

.wide {
  width: 100%;
}


.price_tag {
  background-color: #606567;
  color: #fff;
  font-size:20px;
  padding: 10px;
  margin-bottom: 10px;

}

#wrapper {
  width:960px;
  margin:0 auto;

}

#sidebar {
  float:right;
  width:340px;
}

#sidebar #widget {
  width:340px;
  height:600px;
  margin-bottom:10px;
  border-bottom:1px solid #ccc;

}

#article {
  width:560px;
}

.discovery-card {
  background-size: cover;
  background-position: center;
  height:326px;
}

a.discovery {
  text-shadow: 1px 2px 3px rgba(0,0,0,0.3);
}

a.discovery:hover {
  text-decoration: none;
}

input.invalid, textarea.invalid{
  border: 2px solid red;
}

input.valid, textarea.valid{
  border: 2px solid green;
}

.panel {
  border:0px;
  box-shadow: 0 0px 0px;
}


.date-arrow:before {
  content: '\25bc';
  font-size: 1.3em;
  position: absolute;
  color: #82888A;
  top: 8px;
  right: 30px;
  transform: scale(0.84, 0.52);
}

.symbol-sm {
  height: 2em;
}

.text-small {
  font-size: 0.7em;
}

@media screen and (min-width: 0px) and (max-width: 799px) {
  .hide-on-small { display: none;}
}

@media screen and (min-width: 0px) and (max-width: 799px) {
  .show-on-small { display: visible;}
}

.navbar-nav>li, .navbar-nav {
  float: left !important;
}


.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}

.navbar-right {
  float: right!important;
}

.frame { width: 100%; height: 160px; padding: 0; }
.frame .slidee { margin: 0; padding: 0; height: 100%; list-style: none; }
.frame .slidee li {
  float: left;
  margin: 0 5px 0 0;
  padding: 0;
  width: 120px;
  height: 90%;
  background-color: #eeeeee;
  border-radius: 1em;
}

.scrollbar { width: 100%; height: 20px; }
.scrollbar .handle {
  width: 10%; /* overriden if dynamicHandle: 1 */
  height: 100%;
  background: #222;
  border-radius: 1em;
  cursor: pointer;
}

.scrollbar-container {
  background-color: lightgrey;
  opacity: .5;
  bottom: 1em;
  padding: 0.2em;
  width: inherit;
  border-radius: 1em;
}

.image-cover {
  background-size: cover;
  background-position: center;
  min-height: 10em;
  max-height: 15em;
}

.image-cover-big {
  background-size: cover;
  background-position: center;
  min-height: 25em;
  max-height: 40em;
}

.has-feedback .form-control-feedback {
    position: absolute;
    top: 2em;
    right: 1em;
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: right;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*
#map {
    pointer-events: none;
}
*/
